<div class="app">

  <section>
    <div class="page">
      <div class="inner">
        <header class="header">
          <div class="logoa">
            <img src="assets/cerna.jpg" alt="">
          </div>
          <div class="titlea">
            <h3 style="color: #016fce;">Mantenimiento Fuel Injection por Computadora</h3>
            <br>
            <h5>Tel. 443 315-71-74 / Cel. 443 410-8753</h5>
            <h5>E-mail: juancerna3@hotmail.com</h5>
          </div>
          <div class="logob">
            <h5 style="border:none; text-align: right;">Punhuato # 91 Col. Lomas de Guayangareo Morelia, Michoacán</h5>
            <br>
            <!-- <img src="" style="width: 100%;"> -->
            <h5>No. Orden: <input type="number" autofocus  tabindex="0" class="focusNext" autocomplete="off"></h5>
          </div>
        </header>
        <div class="sectiona">
          <div class="table">
            <div class="tr">
              <div class="td">CLIENTE:</div>
              <div class="td"><input type="text" style="border-bottom: 1px solid #bbb;" tabindex="1" class="focusNext" autocomplete="off"> </div>
              <div class="td" style="padding-left:2mm;">FECHA DE SERVICIO:</div>
              <div class="td"><input type="text" value={{fecha}} style="border-bottom: 1px solid #bbb;"> </div>
            </div>
            <div class="tr">
              <div class="td">DOMICILIO:</div>
              <div class="td"><input type="text" style="border-bottom: 1px solid #bbb;"tabindex="2" class="focusNext" autocomplete="off"> </div>
              <div class="td" style="padding-left:2mm;">TELEFONO:</div>
              <div class="td"><input type="text" style="border-bottom: 1px solid #bbb;"tabindex="3" class="focusNext" autocomplete="off"> </div>
            </div>
            <div class="tr">
              <div class="td">CIUDAD:</div>
              <div class="td">
                <div class="tr">
                  <div class="td" style="width:60%;"><input type="text" style="border-bottom: 1px solid #bbb;" tabindex="4" class="focusNext" autocomplete="off"></div>
                  <div class="td" style="width:12%;padding-left:2mm;">C.P.</div>
                  <div class="td"><input type="text" style="border-bottom: 1px solid #bbb;"tabindex="5" class="focusNext" autocomplete="off"></div>
                </div>
              </div>
              <div class="td" style="padding-left:2mm;">EMAIL:</div>
              <div class="td"><input type="text" style="border-bottom: 1px solid #bbb;" tabindex="6" class="focusNext" autocomplete="off"> </div>
            </div>
          </div>
        </div>
        <div class="sectionb">
          <div class="table">
            <div class="tr thead">
              <div class="td">MARCA</div>
              <div class="td">MODELO</div>
              <div class="td">COLOR</div>
              <div class="td">PLACAS</div>
              <div class="td">KILOMETRAJE</div>
            </div>
            <div class="tr">
              <div class="td"><input type="text" tabindex="7" class="focusNext" autocomplete="off"></div>
              <div class="td"><input type="text" tabindex="8" class="focusNext" autocomplete="off"></div>
              <div class="td"><input type="text" tabindex="9" class="focusNext" autocomplete="off"></div>
              <div class="td"><input type="text" tabindex="10" class="focusNext" autocomplete="off"></div>
              <div class="td"><input type="text" tabindex="11" class="focusNext" autocomplete="off"></div>
            </div>
          </div>
          <div class="table" style="margin: 2mm 0;">
            <div class="tr">
              <div class="td" style="width:60%; height: 100%; vertical-align:top;border-right: 1px solid #bbb;">
                <div class="tr thead">
                  <div class="td" style="height: 100%; border-right:1px solid #016fce">ASESOR</div>
                </div>
                <div class="tr"><input type="text" style="width:12cm; height: 8mm;" tabindex="12" class="focusNext" autocomplete="off"></div>
              </div>
              <div class="td" style="text-align: center;border-right: 1px solid #bbb;">FORMA DE PAGO</div>
              <div class="td" style="padding-bottom:1mm;">
                <div class="tr" id="pag">
                  <div class="td"style="width: 3.5cm;"><input type="radio" name="pago" tabindex="13" class="focusNext"><span>TARJETA</span></div>
                </div>
                <div class="tr" id="pag">
                  <div class="td"><input type="radio" name="pago"><span>TRANSFERENCIA</span></div>
                </div>
                <div class="tr" id="pag">
                  <div class="td"><input type="radio" name="pago"><span>EFECTIVO</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sectionc" style="margin-top: 5mm;">
          <h5>SERVICIO REQUERIDO</h5>
          <div class="table" style="padding: 1mm;">
            <div class="tr">
              <div class="td"> <input type="checkbox" tabindex="14" class="focusNext"><span>CAMBIO DE ACEITE</span> </div>
              <div class="td"><input type="checkbox" tabindex="15" class="focusNext"><span>REVISIÓN DE FRENOS</span></div>
              <div class="td"><input type="checkbox" tabindex="16" class="focusNext"><span>LIMPIEZA DE INYECTORES</span></div>
            </div>
            <div class="tr">
              <div class="td"><input type="checkbox" tabindex="17" class="focusNext"><span>SERVICIO MENOR</span></div>
              <div class="td"><input type="checkbox" tabindex="18" class="focusNext"><span>REV. SISTEMA ELECTRICO</span></div>
              <div class="td"><input type="checkbox" tabindex="19" class="focusNext"><span>SERV DE TRANSMISIÓN</span></div>
            </div>
            <div class="tr">
              <div class="td"><input type="checkbox" tabindex="20" class="focusNext"><span>SERVICIO MAYOR</span></div>
              <div class="td"><input type="checkbox" tabindex="21" class="focusNext"><span>CAMBIO DE FRENOS DELANTEROS</span></div>
              <div class="td"><input type="checkbox" tabindex="22" class="focusNext"><span>C. DE FRENOS TRASEROS</span></div>
            </div>
          </div>
          <div class="table" id="table_">
            <div class="tr thead">
              <div class="td">DESCRIPCIÓN DE SERVICIO SOLICITADO</div>
              <div class="td">PLAZO MAXIMO</div>
            </div>
            <div class="tr">
              <div class="td"><textarea name="" id="" rows="2" tabindex="23" class="focusNext" autocomplete="off"></textarea></div>
              <div class="td"><input type="text" style="height: 6mm;" tabindex="24" class="focusNext" autocomplete="off"></div>
            </div>
          </div>
          <div class="table" id="table_">
            <div class="tr thead">
              <div class="td">DIAGNÓSTICO</div>
              <div class="td" style="font-size:0.9em;">RIESGOS DE LA REALIZACIÓN DEL DIAGNÓSTICO</div>
            </div>
            <div class="tr">
              <div class="td"><textarea name="" id="" rows="2" tabindex="25" class="focusNext" autocomplete="off"></textarea></div>
              <div class="td"><input type="text"style="height: 6mm;" tabindex="26" class="focusNext" autocomplete="off"></div>
            </div>
          </div>
        </div>

        <section class="sectiond" >
            <form [formGroup]="myForm" novalidate>
          <div class="table" id="main_table"formArrayName="units">
            <div class="tr thead">
              <div class="td">CANTIDAD</div>
              <div class="td">NO. DE PARTE</div>
              <div class="td">DESCRIPCIÓN DE REFACCIONES</div>
              <div class="td">PRECIO</div>
              <div class="td">IMPORTE</div>
            </div>
            <div *ngFor="let unit of getControls(myForm, 'units'); let i=index" class="tr"  [formGroupName]="i">
              <div class="td"style="border-left:1px solid #bbb;"><input type="number" formControlName="qty" class="cantidad" tabindex="{{27+i*4}}" class="focusNext" autocomplete="off"></div>
              <div class="td"><input type="number" class="parte" tabindex="{{28+i*4}}" class="focusNext" autocomplete="off"></div>
              <div class="td"><input type="text" class="descripcion" tabindex="{{29+i*4}}" class="focusNext" autocomplete="off"></div>
              <div class="td"><input type="number" formControlName="price" class="punitario" tabindex="{{30+i*4}}" class="focusNext" autocomplete="off"></div>
              <div class="td"><input formControlName="importe" class="importe"></div>
            </div>
          </div>
          </form>
          <div class="table" id="warranty" style="margin-top:2mm; border:none;">
            <div class="tr">
              <div class="td" style="border:none;">
                <div class="tr">
                <div class="table" id="_a">
                  <div class="tr">
                    <div class="td" style="width:6cm; background:#016fce; color:white; border-radius: 5px;"><span>No somos responsables de objetos olvidados en su auto y que no sean
                        entregados a recepción.</span></div>
                    <div class="td" style="border:none;">
                      <span>SE ENTREGAN O REFACCIONES REEMPLAZADAS AL CONSUMIDOR</span><br>
                      <input type="radio" name="rempl" tabindex="62" class="focusNext" autocomplete="off"><span>SI</span>
                      <input type="radio" name="rempl"><span>NO</span>
                    </div>
                  </div>
                </div>
                </div>
                <div class="tr">
                  <div class="td" style="width:100%;border:none; padding-top: 3mm;">
                    <span>EN CASO DE QUE EL PRESUPUESTO NO SEA ACEPTADO, EL CONSUMIDOR PAGARÁ EXCLUSIVAMENTE EL COSTO
                      POR LA REVISIÓN Y DIAGNOSTICO. Y EL PRESTADOR DE SERVICIO SE OBLIGA A DEVOLVER EL VEHÍCULO EN
                      LAS CONDICIONES EN LAS QUE FUE ENTREGADO, EXCEPTUANDO LAS CONSECUENCIAS INEVITABLES DEL
                      DIAGNOSTICO.</span>
                    <p style="padding-top: 3mm;">EL COSTO DE $ <input type="number" style="width:2cm; border-bottom: 1px dotted #bbb; font-size: 1.4em; text-align:center; font-weight: 600;" tabindex="63" class="focusNext" autocomplete="off"> M.N </p>
                  </div>
                </div>
                <div class="tr">
                  <div class="table" style="border:none;">
                    <div class="tr">
                  <div class="td" style="border:none;">
                    <div class="gauge_">
                      <rg-gauge-chart [canvasWidth]="canvasWidth" [needleValue]="needleValue"
                        [centralLabel]="centralLabel" [options]="options" [name]="name" [bottomLabel]="bottomLabel">
                      </rg-gauge-chart>
                      <input id="slider" type="range" min="0" max="100" class="no-print" (change)="combus($event)" />
                    </div>
                  </div>
                  <div class="td" style=" text-align:center; border:none;">
                      <p style="font-size: 1.5em;">ACEPTO</p>
                      <p style="font-size: 1.5em;">NO DEJO OBJETOS DE VALOR</p>
                    <div class="sign">
                      <!-- <signature-pad [options]="signaturePadOptions"></signature-pad> -->
                      <div class="signature">
                          <div id="contSign" onclick = "btn_click()">
                            <img src="" id="imgSign">
                          </div>
                      </div>
                      <hr>
                      <div >
                        <a style="font-size: 1.5em;">FIRMA DEL CLIENTE</a>
                        <p style="font-size: 1.3em; margin-top:2mm;">Acepto el presupuesto y ordeno la ejecución de los trabajos a los que se refiere esta
                          orden, manifiesto que estoy plenamente facultado para ello.</p>
                      </div>
                    </div>
                  </div>
                  </div>
                  </div>
                </div>
              </div>
              <div class="td" style="width:5cm; vertical-align: top; border:none;">
                <div class="table" id="tot_">
                  <div class="tr">
                    <div class="td"><span>REFACCIONES</span></div>
                    <div class="td"><input type="number" value="{{totalRef}}" style="color:#016fce;"></div>
                  </div>
                  <div class="tr">
                    <div class="td"><span>MANO DE OBRA</span></div>
                    <div class="td"><input type="number" name="obra" [(ngModel)]="obra" (change)="updt()" tabindex="59" class="focusNext" autocomplete="off"></div>
                  </div>
                  <div class="tr">
                    <div class="td"><span>OTROS MATERIALES</span></div>
                    <div class="td"><input type="number"  name="otros" [(ngModel)]="otros" (change)="updt()" tabindex="60" class="focusNext" autocomplete="off"></div>
                  </div>
                  <div class="tr">
                    <div class="td"><span>SUBTOTAL $</span></div>
                    <div class="td" ><input type="number" value="{{subtotal}}" style="color:#016fce;"></div>
                  </div>
                  <div class="tr">
                    <div class="td" ><span>I.V.A $</span></div>
                    <div class="td"><input type="number" value="{{ iva}}" style="color:#016fce;"></div>
                  </div>
                  <div class="tr">
                    <div class="td"><span>TOTAL $</span></div>
                    <div class="td"><input type="number" value="{{total}}" style="color:red;"></div>
                  </div>
                  <div class="tr">
                    <div class="td"><span>ANTICIPO $</span></div>
                    <div class="td"><input type="number"  name="anticipo" [(ngModel)]="anticipo" (change)="updt()" tabindex="61" class="focusNext" autocomplete="off"></div>
                  </div>
                  <div class="tr">
                    <div class="td"><span>SALDO $</span></div>
                    <div class="td"><input type="number" value="{{saldo}}" style="color:red;"></div>
                  </div>
                  <br>
                  <div class="tr">
                      <div class="td"></div>
                      <div class="td">HORARIO DE SERVICIO<span></span></div>
                  </div>
                  <div class="tr">
                      <div class="td"></div>
                      <div class="td"><span>LUNES A VIERNES</span></div>
                  </div>
                  <div class="tr">
                      <div class="td"></div>
                      <div class="td"><span>9:00 AM - 2:00 PM</span></div>
                  </div>
                  <div class="tr">
                      <div class="td"></div>
                      <div class="td"><span>4:00 PM - 7:00 PM</span></div>
                  </div>
                  <div class="tr">
                      <div class="td"></div>
                      <div class="td"><span>SABADO</span></div>
                  </div>
                  <div class="tr">
                      <div class="td"></div>
                      <div class="td"><span>9:00 AM - 2:00 PM</span></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </section>
        <div class="no-print" id="printBtn" onclick="window.print()">
            <img src="assets/save.png" alt="" width="75" height="75">
          </div>
      </div>
    </div>

  </section>

<!-- </form> -->
<section>
  <div class="page">
    <div class="inner">
      <div class="section6">
        <h3 id="sub_title">ESTADO DEL VEHÍCULO</h3><br><br>
        <div class="table">
          <div class="tr thead">
              <div class="td">Imagen</div>
              <div class="td ">Descripción</div>
          </div>
          <div class="tr">
            <div class="td">
              <div class="image-container">
                <input type="file" accept="image/*" name="img1" onchange="showMyImage(this)">
              </div>
            </div>
            <div class="td "><textarea name="img1d" id="txa"  rows="12" wrap="soft" tabindex="64" class="focusNext" autocomplete="off"></textarea></div>
          </div>
          <div class="tr">
            <div class="td">
                <div class="image-container">
                  <input type="file" accept="image/*" name="img2" onchange="showMyImage(this)">
                </div>
            </div>
            <div class="td "><textarea name="img2d" id="txa"  rows="12" wrap="soft" tabindex="65" class="focusNext" autocomplete="off"></textarea></div>
          </div>
          <div class="tr">
            <div class="td">
                <div class="image-container">
                  <input type="file" accept="image/*" name="img3" onchange="showMyImage(this)">
                </div>
            </div>
            <div class="td "><textarea name="img3d" id="txa"  rows="12" wrap="soft" tabindex="66" class="focusNext" autocomplete="off"></textarea></div>
          </div>
          <div class="tr">
            <div class="td ">
                <div class="image-container">
                  <input type="file" accept="image/*" name="img4" onchange="showMyImage(this)">
                </div>
            </div>
            <div class="td  "><textarea name="img4d" id="txa" rows="12" wrap="soft" tabindex="67" class="focusNext" autocomplete="off"></textarea></div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>


</div>
