canvas {
  /* border: 1px solid #ccc; */
  display: inline;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 3% auto;
  padding: 25px 25px;
  border: 5px solid #888;
  border-radius: 2%;
  width: 80%;
  height: 80%;
}

.close {
  color: #ddd;
  float: right;
  font-size: 36px;
  font-weight: bold;
  padding-right: 20px;
  padding-top: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#contSign,.signature{
  text-align:center; width:270px; height: 80px;
}
#imgSign{
  max-width: 100%;
  max-height: 100%;
}
